h1 {
    color: steelblue;
    font-size: 4em;
   font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 10px solid sandybrown;
   border-radius: 0.5em;
    border-top-right-radius: 10% %;
   }
p {
    color: darkgrey;
 font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 0.95em; }

h2 {
    color: sandybrown;
    font-size: 2em;
   font-family: 'Poppins', sans-serif;
    text-align: center;
     }

